<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/tablecss.css">

  <title>Hello, world!</title>
</head>
<body>

<nav class="navbar navbar-light bg-light" >
  <div class="col-md-12" style="text-align: center">
  <a class="navbar-brand"   href="#">
    <img src="../assets/resources/Bandera-Col.png" width="30px" height="100%" class="d-inline-block align-top" alt="">
    COVID-19 COLOMBIA
    <img src="../assets/resources/virus2.jpg" width="30px" height="100%" class="d-inline-block align-top" alt="">
  </a>
    </div>

</nav>

<div class="container">
<hr>
    <div class="col-sm-12">
      <img src="../assets/resources/colban.png" class="rounded mx-auto d-block"  [ngStyle]="{height:heightCol, width:widthCol}" alt="25px">
    </div>
<hr>
  <div class="row">
  <div class="col-sm-3">
    <div class="card" style="border-color:  darkorange">
      <div class="card-body">
        <h5 class="card-title" style="color: darkorange"   ALIGN="CENTER"> 4 - <u>Casos</u></h5>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="border-color: darkred " >
      <div class="card-body">
        <h5 class="card-title"  style="color: darkred"  ALIGN="CENTER"> 4 - <u>Muertes</u></h5>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card"  style="border-color: darkgreen ">
      <div class="card-body">
        <h5 class="card-title"  style="color: darkgreen"  ALIGN="CENTER"> 4 - <u>Recuperados</u></h5>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="border-color: darkblue">
      <div class="card-body" >

        <h5 class="card-title"  style="color: darkblue"  ALIGN="CENTER"> 4 -  <u>Sospechosos</u></h5>

      </div>
    </div>
  </div>

</div>
  <hr>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Paises</th>
      <th scope="col">Casos</th>
      <th scope="col">Muertes</th>
      <th scope="col">Recuperados</th>
      <th scope="col">Sospechosos</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Argentina</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Bolivia</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Brasil</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Chile</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Costa Rica</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Cuba</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Ecuador</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">El Salvador</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Guatemala</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Haiti</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Honduras</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Mexico</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Nicaragua</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Panama</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Paraguay</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Perú</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>

    <tr>
      <th scope="row"> República Dominicana</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>

    <tr>
      <th scope="row">Uruguay</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Venezuela</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
    </tbody>

  </table>

  </div>


</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>



</html>
